<html>
<body>
Hi {{user}},[nl][nl]

A response by <b>{{submitted}}</b> to your form <b>{{formName}}</b> was just removed at <i>{{time}}</i>. This email is a
confirmation that it has been successfully removed.[nl][nl]

You can go to <a href="{{&allResponsesLink}}">{{&allResponsesLink}}</a> to manage remaining responses.

{{> email-settings-footer.hbs}}
</body>
</html>