<html>
<body>
Hi {{user}},[nl][nl]

A response by <b>{{submitted}}</b> to your form "<b>{{formName}}</b>" was just removed. This email is a
confirmation that it has been successfully removed.[nl][nl]

Go to <a href="{{&allResponsesLink}}">{{&allResponsesLink}}</a> to manage the remaining responses.

{{> email-settings-footer.hbs}}
</body>
</html>