<html>
<body>
Hi {{user}},[nl][nl]

{{submitted}} just responded to your form <b>{{formName}}</b> (<i>{{time}}</i>). You can go to
<a href="{{&responseLink}}">{{&responseLink}}</a> to see the submission or
<a href="{{&allResponsesLink}}">{{&responseLink}}</a> to see all submissions.

{{> email-settings-footer.hbs}}
</body>
</html>