<html>
<body>
Hi {{user}},[nl][nl]

{{submitted}} just responded to your form "<b>{{formName}}</b>". Go to:[nl][nl]

<a href="{{&responseLink}}">{{&responseLink}}</a>[nl][nl] to manage this response.
{{> email-settings-footer.hbs}}
</body>
</html>