{{> header.hbs }}

<div class="uk-text-center">
    {{#if notFound}}
        <h2 class="uk-margin-small-bottom"><b>404 - Not Found</b></h2>
        <h4>{{description}}</h4>
        <p>In the meantime, here's a cute kitty to cheer you up</p>
        <img src="/images/kitty.jpg">
    {{else}}
        <h2 class="uk-margin-small-bottom"><b>No permission</b></h2>
        <h4>{{description}}</h4>
        <p>In the meantime, here's a sad kitty to express our sadness</p>
        <img src="/images/sad-kitty.jpg">

    {{/if}}
</div>

{{> footer.hbs }}