<div class="uk-text-center uk-margin-medium-bottom" style="color: black;">
    Made by <a href="https://adamratzman.com">Adam Ratzman</a> using Javascript, Kotlin, and Handlebars
</div>

</body>
</html>