<!DOCTYPE html>
<html>
<head>
    <title>CHSForms > {{pageTitle}}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom css -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit-icons.min.js"></script>

    <!-- CHSForms Utils JS -->
    <script src="/js/utils.js"></script>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    {{#if datePicker}}
        <!-- Flatpickr library -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    {{/if}}
</head>

<body>
<nav class="uk-navbar-container uk-navbar-transparent uk-navbar" uk-navbar>
    <div class="uk-navbar-item uk-margin-top">
        <p class="uk-margin-large-left" id="nav-name"><a href="/" class="uk-link-heading"><b>CHS</b>Forms</a></p>
    </div>

    <div class="uk-navbar-right">
        {{#if user}}
            <a href="/settings" uk-icon="icon: cog" class="uk-margin-small-right"></a>
            <a href="/logout" class="uk-margin-medium-right">Logout, {{user.username}}!</a>
        {{else}}
            <a href="/login" class="uk-button uk-button-primary uk-margin-medium-right">Login</a>
        {{/if}}
    </div>
</nav>