{{> header.hbs }}

<h2 class="uk-text-center">Log in</h2>

<div class="uk-flex uk-flex-center">
    <form>
        <div class="uk-margin">
            <div class="uk-inline uk-form-width-large">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input" type="text" name="username" id="username" placeholder="Username">
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-inline uk-form-width-large">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                <input class="uk-input" type="password" name="password" id="password" placeholder="Password">
            </div>
        </div>

        <div class="uk-margin">
            <button id="login-button" class="uk-button uk-button-primary" onclick="validateLogin()" form="">Log in
            </button>
        </div>
    </form>
</div>

<script type="text/javascript">passwordKeypressEnter()</script>

<script type="text/javascript">
    var message = params["message"];
    if (message !== undefined) UIkit.notification(message, 'primary');
</script>

{{> footer.hbs }}