{{> header.hbs }}

<div class="uk-text-center">
    <h2 class="uk-margin-small-bottom"><b>Manage Responses - {{form.name}}</b></h2>
    <br />
    <br />

    <div id="response-cards"></div>

</div>

<script type="text/javascript" src="/js/manage-responses.js"></script>
<script type="text/javascript">
    let form = {{& formJson}};
    $(document).ready(function () {
        init({{&responses}});
    });
</script>

{{> footer.hbs }}