{{> header.hbs }}

{{#with form}}
    <div class="uk-text-center">
        <h2 class="uk-margin-small-bottom"><b>{{name}}</b></h2>
        <h4 id="description" class="uk-margin-medium-bottom uk-margin-auto uk-width-3-5">{{description}}</h4>
        <form>
            <div id="questions" class="uk-width-2-3 uk-text-left" style="margin-left: 25%"></div>
        </form>
        <button id="submit-button" class="uk-button uk-button-primary sbm" onclick="submit()">Submit</button>
    </div>
{{/with}}

<script type="text/javascript" src="/js/take.js"></script>
<script type="text/javascript">
    initializeQuestions({{& questions}});
    let formId = "{{form.id}}";
        {{#if dbResponse}}
        initializeAnswers({{& dbResponse}});
        {{/if}}
</script>
{{> footer.hbs }}